<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testWCFAmbiflux.Properties.Settings.AIPLConnectionString"
      connectionString="Data Source=193.55.104.238;Initial Catalog=AIPL;User ID=ambiflux;Password=ambiflux"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
  <bindings />
      <client>
        <endpoint address="http:/193.55.104.238/AmbifluxWcfService/Ambiflux.svc"
  binding="wsHttpBinding" bindingConfiguration="" contract="AmbifluxWcfService.IAmbiflux"
name="GetSRMA" />

    </client>

  </system.serviceModel>
</configuration>