<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="AIPLConnectionString" connectionString="Data Source=193.55.104.245;Initial Catalog=AIPL;Persist Security Info=True;User ID=sa;Password=manager"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>

    <add name="AIPLConnectionString2" connectionString="Data Source=100.74.39.204;Initial Catalog=AIPL;Persist Security Info=True;User ID=ambiflux;Password=ambiflux"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AmbifluxServiceBehaviour" name="AmbifluxWcfService.Ambiflux">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="AmbifluxWcfService.IAmbiflux" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AmbifluxServiceBehaviour">
          <!-- Pour éviter la divulgation des informations sur les métadonnées, définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement. -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Définissez-la sur false avant le déploiement pour éviter la divulgation des informations d'exception. -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
